body{
    font-family: 'Roboto Condensed', sans-serif;
    background: rgb(0, 0, 0);
}

.header_div
{
    color: bisque;
    background-color: black;
}

.header_div p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: large;
}

.main_div button
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 1000;
letter-spacing: 6px;
font-size: 26px;
margin-top: 38px;
width: 134px;
}

.copy_right_footer
{
    background-color: rgba(0, 0, 0, 0.284);
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    line-height: 5;
    text-shadow: 5px 5px 5px red;
}